.error-container,
.error-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
}

.error-info {
  gap: 0;
}

.main-page-button {
  background-color: #4481c3;
  color: #fff;
  transform: skew(-15deg);
  padding: 9px 14px 6px 15px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 3px;
}
